@model HomeViewModel
<section class="sevises wow bounceInLeft" data-wow-delay="0.1s">
    <div class="container">
        <div class="user-message">
            <h1>@Model.Message</h1>
        </div>
        <div class="info">
            <h1 class="info-title">
                Онлайн магазин косметики
            </h1>
            <p class="info-paragraph">
                Тушь, ретушь, крема, масла
            </p>
            <img src="~/img/bg-cosmetic.jpg" alt="Alternate Text" class="info-img"/>
        </div>
    </div>
</section>


<section class="row mb-2">
    <div class="cards">
        @{
            foreach (var product in Model.GetProducts)
            {
                @await Html.PartialAsync("ShowProduct", product)
            }
        }
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="btn-block">
            <a asp-action="AddProduct" asp-controller="Products">
                <span class="btn btn-primary">
                    <p class="btn-text">Добавить товар</p>
                </span>
            </a>
        </div>
    }
</section>