<section class="sevises wow bounceInLeft" data-wow-delay="0.1s">
    <div class="container">
        <main class="info">
            <h1>
                Онлайн магазин косметики
            </h1>
            <p>
                Тушь, ретушь, test.
            </p>
        </main>
    </div>
</section>
<h1>@Model.Message</h1>
<a href="/Products/ViewProducts">
    <button class="btn">
        <p class="btn-text">Next</p>
    </button>
</a>