<section id="search">
    <a class="viewed-btn btn-floating waves-effect"><i class="material-icons">turned_in_not</i></a>
    <div class="viewed-menu card" style="display: none">
        <ul>
            <li>
                <span>first</span>
                <a class="btn btn-small">удалить</a>
            </li>
            <li>second</li>
            <li>third</li>
        </ul>
    </div>
    <div id="search-console">
        <input type="text" id="search-input" style="color: #595959">
    </div>
 </section>