@model Product
<section class="add-product">
    <form class="form form-add-product" asp-action="AddProduct" asp-controller="Products" asp-antiforgery="true">
        <div class="form-group">
            <h3 class="form-header">Добавить товар на страницу:</h3>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-group__header"></label>
            <input type="text" asp-for="Name" class="form-group__input" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="form-group__header"></label>
            <input asp-for="Price" class="form-group__input" />
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageURL" class="form-group__header"></label>
            <input type="url" asp-for="ImageURL" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="form-group__header"></label>
            <input type="text" asp-for="ShortDescription" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="LongDescription" class="form-group__header" style="margin:0;"></label>
        </div>
        <div class="form-group">
            <textarea asp-for="LongDescription" class="form-group__textarea" placeholder="Описание"></textarea>
        </div>
        <div class="btn-block">
            <label asp-for="CategoryId" class="btn-block__header"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="btn-block__select">
            </select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div class="form-group" style=" margin-bottom: 20px; margin-top:-10px;">
            <p>Есть в наличии:</p>
            <input asp-for="IsAvailable" value="true" checked="checked" type="checkbox" class="search__is-available">
        </div>
        <div class="btn-block">
            <input type="submit" value="Save" class="btn btn-product" />
        </div>
    </form>
</section>