<section class="search">
    <div class="container">
        <form method="get" class="form-search" name="form-search">
            <p>
                Введите Id<input type="text" name="id" />
            </p>
            <p>
                Введите Имя<input type="text" name="name" />
            </p>
            <p>
                Введите стоимость<input type="text" name="price" />
            </p>
            <p>
                Введите id категории:<input type="text" name="category-id">
            </p>
            <div class="checkboxes">
                <div class="max-price">
                    <span>Максимальная цена:</span>
                    <select name="select">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>
                <div class="is-available">
                    <span>Есть в наличии:</span>
                    <select name="select">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-form">Отправить</button>
        </form>
    </div>
</section>