@model Product

<section class="product">
    <div class="container">
        <hr class="line-bold" />
        <div class="product-info">
            <h1 class="product-info__header">@Model.Name</h1>
        </div>
        <hr />
        <div class="offer">
            <div class="offers-figure">
                <img src="@Model.ImageURL" class="offers-figure__img" />
            </div>
            <div class="offer-info">
                <span class="offer-info__description">
                    <h3>Описание</h3>
                    <p>@Model.LongDescription</p>
                </span>
                <p class="offer-info__cost">@Model.Price р.</p>
                <a href="#"><button class="btn btn-primary">Оформить заказ</button></a>
            </div>
        </div>
        <hr />
        @if (User.IsInRole("admin"))
        {
            <div>
                <a href="/Products/UpdateProduct/@Model.Id">
                    <button class="btn btn-primary">
                        <p class="btn-text">Update</p>
                    </button>
                </a>
                <a href="/Products/DeleteProduct/@Model.Id">
                    <button class="btn btn-primary">
                        <p class="btn-text">Delete</p>
                    </button>
                </a>
            </div>
        }
    </div>
</section>
