@model Product
<form  asp-action="UpdateProduct" asp-controller="Products" asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Price"></label>
            <input asp-for="Price"/>
        </div>
        <div>
            <label asp-for="ShortDescription"></label>
            <input type="text" asp-for="ShortDescription" />
        </div>
        <div>
            <label asp-for="LongDescription"></label>
            <input type="text" asp-for="LongDescription" />
        </div>

        <div>
            <label asp-for="ImageURL"></label>
            <input type="url" asp-for="ImageURL"/>
        </div>
        <div>
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories">
            </select>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>