@model Product
<section class="update-product">
    <form class="form form-update-product" asp-action="UpdateProduct" asp-controller="Products" asp-antiforgery="true">
        <h3 class="form-header">Изменить товар</h3>
        <div class="form-group">
            <label asp-for="Name" class="form-group__header"></label>
            <input type="text" asp-for="Name" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="Price" class="form-group__header"></label>
            <input asp-for="Price" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="form-group__header"></label>
            <input type="text" asp-for="ShortDescription" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="LongDescription" class="form-group__header"></label>
            <input type="text" asp-for="LongDescription" class="form-group__input" />
        </div>

        <div class="form-group">
            <label asp-for="ImageURL" class="form-group__header"></label>
            <input type="url" asp-for="ImageURL" class="form-group__input" />
        </div>
        <div class="btn-block" style="padding: 10px 0 0 0;">
            <label asp-for="CategoryId" class="btn-block__header"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="btn-block__select">
            </select>
        </div>
        <div class="form-group">
            <div class="is-available">
                <p>Есть в наличии:</p>
                <input asp-for="IsAvailable" type="checkbox" class="search__is-available">
            </div>
        </div>
        <div class="btn-block">
            <input type="submit" value="Save" style="margin-top:0" class="btn btn-product" />
        </div>
    </form>
</section>