<h1>Вся косметика</h1>
<h3>@Model.ProductCategory</h3>

<div class="row mt-5 mb-2">

    <div class="cards">
        @{
            foreach (var product in Model.GetProducts)
            {
                @await Html.PartialAsync("ShowProduct", product)
            }
        }
    </div>
</div>


