@model ProductsViewModel 
<section class="view-products-header">
    <hr />
    <div class="view-products__block">
        <h1 class="view-products__block__title">Вся косметика</h1>
        <button class="btn btn-filter" id="btn-filter">
            <img src="~/img/user.svg" alt="user" class="btn-icon">
            <p class="btn-text">Фильтр</p>
        </button>
    </div>
    <h3 class="view-products-header__category">@Model.ProductCategory</h3>
</section>

<section class="row mt-5 mb-2">
    <div class="cards">
    @{
        foreach (var product in Model.GetProducts)
        {
            @await Html.PartialAsync("ShowProduct", product)
        }
    }
    </div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="AddProduct" asp-controller="Products">
            <button class="btn btn-primary">
                <p class="btn-text">Добавить</p>
            </button>
        </a>
    }
</section>

@await Html.PartialAsync("ProductsFilter", Model.SearchParams);
