@model E_Shop_Cosmetic.Data.Models.Order

<section class="order order-successful">

    <p>Ваш заказ зарегестрирован, скоро вам позвонят</p>

    <h2>View</h2>
    @await Html.PartialAsync("ShowOrder", Model)
    <a asp-action="Index" asp-controller="Home">
        <button class="btn btn-primary">
            <p class="btn-text">На главную страницу</p>
        </button>
    </a>
</section>

