@model E_Shop_Cosmetic.Data.Models.Order

<section class="order order-successful">

    <p>Ваш заказ зарегестрирован, скоро вам позвонят</p>

    <h2>View</h2>
    @await Html.PartialAsync("ShowOrder", Model)
</section>

