@model ViewOrderViewModel
<code id="id_product" style="display:none">@Model.Order.Id</code>

<section class="product">
    <div class="container">
        @if (User.IsInRole("admin"))
        {
            <section>
                <h3 class="order__title">Хотите что-нибудь поменять?</h3>
                <div class="btn-block">
                    <a href="/Orders/UpdateOrder/@Model.Order.Id">
                        <button class="btn btn-primary">
                            <p class="btn-text">Изменить</p>
                        </button>
                    </a>
                    <a href="/Orders/DeleteOrder/@Model.Order.Id">
                        <button class="btn btn-primary">
                            <p class="btn-text">Удалить</p>
                        </button>
                    </a>
                </div>
            </section>
        }
    </div>
</section>
