@model E_Shop_Cosmetic.ViewModels.OrderViewModel

<section class="order" id="order">
    <div class="container">
        <div class="cart-info" id="cart-info">
            <div class="cart-info__content">
                <div class="cart-info__title">
                    Заказ
                </div>
                <hr />
                <div>
                    <div class="cart-info__name">
                        <span>Имя товара: Олег</span>
                    </div>
                    <div class="cart-info__number">
                        <span>Количество: 3</span>
                    </div>
                    <div class="cart-info__cost">
                        <span>Стоимость: 5 br</span>
                    </div>
                </div>
                <hr />
                <div>
                    <div class="cart-info__name">
                        <span>Имя товара: Олег</span>
                    </div>
                    <div class="cart-info__number">
                        <span>Количество: 3</span>
                    </div>
                    <div class="cart-info__cost">
                        <span>Стоимость: 5 br</span>
                    </div>
                </div>
                <hr />
                <div>
                    <div class="cart-info__name">
                        <span>Имя товара: Олег</span>
                    </div>
                    <div class="cart-info__number">
                        <span>Количество: 3</span>
                    </div>
                    <div class="cart-info__cost">
                        <span>Стоимость: 5 br</span>
                    </div>
                </div>
                <hr />
                <div>
                    <div class="total-cost">
                        <span>Общая стоимость 50 br</span>
                    </div>
                </div>
            </div>
        </div>
        <form class="form form-login" asp-action="PlaceOrder" asp-controller="Orders">
            <div class="validation validation-fix" asp-validation-summary="ModelOnly"></div>
            <div class="form-header">
                <h3>Оформление заказа</h3>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Name" class="form-group__label">Введите Ваше Имя</label>
                    <input type="text" asp-for="Name" placeholder="Иван" />
                    <span asp-validation-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="form-group__label">Введите Вашу фамилию</label>
                    <input type="text" asp-for="LastName" placeholder="Иванов" />
                    <span asp-validation-for="LastName" />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="form-group__label">Введите Adress</label>
                    <input type="text" asp-for="Address" placeholder="г.Москва ул Ленина 77" />
                    <span asp-validation-for="Address" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="form-group__label">Введите Adress</label>
                    <input type="text" asp-for="Email" placeholder="user@gmail.com" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="form-group__label">Введите телефон</label>
                    <input asp-for="PhoneNumber" placeholder="*********" />
                    <span asp-validation-for="PhoneNumber" />
                </div>
                <div class="form-group">
                    <label asp-for="Information" class="form-group__label form-group__wishes">Введите ваши пожелания</label>
                    <textarea asp-for="Information" class="form-group__textarea" placeholder="Некоторый текст"></textarea>
                    <span asp-validation-for="Information" />
                </div>
            </div>
            <div class="btn-block">
                <input type="submit" class="btn btn-outline-dark" value="Заказать" />
            </div>
        </form>
    </div>
</section>