@model E_Shop_Cosmetic.ViewModels.OrderViewModel

<section class="order">
    <div class="container">
        <form class="form form-login" asp-action="PlaceOrder" asp-controller="Orders">
            <div class="validation validation-fix" asp-validation-summary="ModelOnly"></div>
            <div class="form-header">
                <h3>Регистрация</h3>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Name">Введите Ваше Имя</label><br />
                    <input type="text" asp-for="Name" placeholder="Иван" />
                    <span asp-validation-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Введите Вашу фамилию</label><br />
                    <input type="text" asp-for="LastName" placeholder="Иванов" />
                    <span asp-validation-for="LastName" />
                </div>
                <div class="form-group">
                    <label asp-for="Address">Введите Adress</label><br />
                    <input type="text" asp-for="Address" placeholder="г.Москва ул Ленина 77" />
                    <span asp-validation-for="Address" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Введите Adress</label><br />
                    <input type="text" asp-for="Email" placeholder="user@gmail.com" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">Введите телефон</label><br />
                    <input asp-for="PhoneNumber" placeholder="*********" />
                    <span asp-validation-for="PhoneNumber" />
                </div>
                <div class="form-group">
                    <label asp-for="Information">Введите ваши пожелания</label><br />
                    <textarea asp-for="Information" class="" placeholder="Некоторый текст"></textarea>
                    <span asp-validation-for="Information" />
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" class="btn btn-outline-dark" value="Заказать" />
            </div>
        </form>
    </div>
</section>
<script src="~/js/modules/basket.js"></script>