@model Order
<section class="update-product">
    <form class="form form-update-product" asp-action="UpdateOrder" asp-controller="Orders" asp-antiforgery="true">
        <h3 class="form-header">Изменить заказ</h3>
        <div class="form-group">
            <label asp-for="Name" class="form-group__header"></label>
            <input type="text" asp-for="Name" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-group__header"></label>
            <input asp-for="LastName" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="Address" class="form-group__header"></label>
            <input type="text" asp-for="Address" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-group__header"></label>
            <input type="text" asp-for="Email" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="form-group__header"></label>
            <input type="text" asp-for="PhoneNumber" class="form-group__input" />
        </div>
        <div class="form-group">
            <label asp-for="TotalPrice" class="form-group__header"></label>
            <input type="number" asp-for="TotalPrice" class="form-group__input" />
        </div>
        <div class="is-available">
            <p>Активный заказ:</p>
            <input asp-for="IsOrderActive" type="checkbox" class="search__is-available">
        </div>
        <div class="btn-block">
            <input type="submit" value="Save" style="margin-top:0" class="btn btn-product" />
        </div>
    </form>
</section>
