@model SearchOrderViewModel


<section class="row mt-5 mb-2">
    <div class="btn-block" style=" justify-content: space-between;">
        <h2 class="order__title" style=" margin-right: 27%;">Список заказов</h2>
        <button class="btn btn-filter" id="btn-filter">
            <img src="~/img/filter.svg" style="width: 16px;" class="btn-icon" alt="noImg" />
            <p class="btn-text">Фильтр</p>
        </button>
    </div>
    <div class="cards order-cards">
        @{
            foreach (var order in Model.Orders)
            {
                @await Html.PartialAsync("ShowOrder", order)
            }
        }
    </div>
</section>
@await Html.PartialAsync("OrdersFilter", Model.SearchParams)