@model RegisterViewModel

<section class="register">
    <form class="form form-login" asp-action="Register" asp-controller="Account" asp-antiforgery="true">
        <div class="validation validation-fix" asp-validation-summary="ModelOnly"></div>
        <h3 class="form-header">Регистрация</h3>
        <div class="form-body">
            <div class="form-group">
                <label asp-for="Email" class="form-group__header">Введите Email</label><br />
                <input type="text" asp-for="Email" class="form-group__input" placeholder="user@gmail.com"/>
                <span asp-validation-for="Email" class="fix-field-validation-error"/>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-group__header">Введите пароль</label><br />
                <input asp-for="Password" class="form-group__input"  placeholder="*********"/>
                <span asp-validation-for="Password" class="fix-field-validation-error"/>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-group__header register-fix">Повторите пароль</label>
                <input asp-for="ConfirmPassword" class="form-group__input"  placeholder="*********"/>
                <span asp-validation-for="ConfirmPassword" class="fix-field-validation-error"/>
            </div>
        </div>
        <div class="btn-block">
            <input type="submit" class="btn btn-outline-dark" value="Регистрация" />
        </div>
    </form>
</section>