<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="block">
                <a href="#" class="logo animated rubberBand"><img src="~/img/logo.svg" alt="logo"></a>
                <input type="text" class="input-address input animated bounceInRight" placeholder="Адрес доставки">
                <div class="buttons animated bounceInRight">
                    <button class="btn btn-primary">
                        <img src="~/img/user.svg" alt="user" class="btn-icon">
                        <p class="btn-text">Войти</p>
                    </button>
                    <button class="btn" id="basket">
                        <img src="~/img/basket.svg" alt="basket" class="btn-icon">
                        <p class="btn-text">Корзина</p>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/main.js"></script>
    <footer class="footer">

        <div class="container">
            <div class="wrapper">
                <a href="#"><img src="~/img/logo.svg" alt="logo" class="footer-logo animated rubberBand"></a>
                <nav class="footer-nav">
                    <ul class="animated rotateInDownRight">
                        <li><a href="#"></a>Ресторанам</li>
                        <li><a href="#"></a>Курьерам</li>
                        <li><a href="#"></a>Пресс-центр</li>
                        <li><a href="#"></a>Контакты</li>
                    </ul>
                </nav>
                <div class="social-networks">
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/instagram.png" alt="instagram"></a>
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/facebook.png" alt="facebook"></a>
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/vk.png" alt="vk"></a>
                </div>

            </div>
        </div>
    </footer>
</body>
</html>
