<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/ion.rangeSlider.min.css">
    <link href="~/css/bootstrap.min.css" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="block">
                <a asp-action="Index" asp-controller="Home" class="logo animated rubberBand"><img src="~/img/logo.svg" alt="logo"></a>
                <input type="text" class="input-address input animated bounceInRight" placeholder="Поиск по названию">
                <div class="buttons animated bounceInRight">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Account/Logout">
                            <button class="btn btn-primary">
                                <img src="~/img/user.svg" alt="user" class="btn-icon">
                                <p class="btn-text">Выйти</p>
                            </button>
                        </a>
                    }
                    else
                    {
                        <a href="/Account/Login">
                            <button class="btn btn-primary">
                                <img src="~/img/user.svg" alt="user" class="btn-icon">
                                <p class="btn-text">Войти</p>
                            </button>
                        </a>
                    }

                    <button class="btn" id="btn-basket">
                        <img src="~/img/basket.svg" alt="basket" class="btn-icon">
                        <p class="btn-text">Корзина</p>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="wrapper">
                <a asp-action="Index" asp-controller="Home"><img src="~/img/logo.svg" alt="logo" class="footer-logo animated rubberBand"></a>
                <nav class="footer-nav">
                    <ul class="animated rotateInDownRight">
                        <li><a href="#"></a>Салонам</li>
                        <li><a href="#"></a>Контакты</li>
                    </ul>
                </nav>
                <div class="social-networks">
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/instagram.png" alt="instagram"></a>
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/facebook.png" alt="facebook"></a>
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/vk.png" alt="vk"></a>
                </div>
            </div>
        </div>
    </footer>
    <button class="btn" id="btn-filter">
        <p class="btn-text">Фильтр</p>
    </button>
    <section class="modal-search">
        <div class="modal-filter">
            <div class="modal-header modal-header-filter">
                <h3 class="modal-title">Фильтр</h3>
                <button class="btn-close-filter">&times;</button>
            </div>
            <form method="get" class="form-search form-search__property" name="form_search">
                <p>
                    <input type="text" name="id" placeholder="Введите артикул" class="form-search__property" />
                </p>
                <p>
                    <input type="text" name="name" placeholder="Введите название товара" class="form-search__property" />
                </p>
                <div class="filter-cost">
                    <input type="text" class="js-range-slider" name="my_range" value="$" />
                    <span class="filter-cost__head">Цена изделия в рублях</span>
                    <div class="table">
                        <div class="table-block">
                            <span>от</span>
                            <div class="table-cell">
                                <input name="priceMin" id="priceMin" type="text" class="form-control">
                            </div>
                            <span>руб</span>
                            <span class="line"></span>
                        </div>
                        <div class="table-block">
                            <span>до</span>
                            <div class="table-cell">
                                <input name="priceMax" id="priceMax" type="text" class="form-control">
                            </div>
                            <span>руб</span>
                        </div>
                    </div>
                    <div class="checkboxes">
                        <div class="under-order">
                            <p>Под заказ:</p><input type="checkbox" class="search__under-order" />
                        </div>
                        <div class="is-available">
                            <p>Есть в наличии:</p><input type="checkbox" class="search__is-available"></input>
                        </div>
                    </div>
                    <div class="modal-filter__footer">
                        <button class="btn btn-primary">Отправить</button>
                        <button class="btn btn-cancel-filter">Очистить</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="modal-cart">
        <div class="modal-dialog">
            <div class="modal-header modal-header-cart">
                <h3 class="modal-title">Корзина</h3>
                <button class="btn-close">&times;</button>
            </div>

            <div class="modal-body" id="products">
                
            </div>

            <div class="modal-footer" >
                <span class="modal-pricetag">1250 ₽</span>
                <div class="footer-btns">
                    <button class="btn btn-primary">Оформить заказ</button>
                    <button class="btn btn-cancel">Отмена</button>
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/other/jquery.min.js"></script>
    <script src="~/js/other/ion.rangeSlider.min.js"></script>
    <script src="~/js/other/bootstrap.min.js"></script>
    <script src="~/js/other/wow.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <script src="~/js/main.js" type="module"></script>
</body>
</html>
