<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="~/css/bootstrap.min.css" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="block">
                <a asp-action="Index" asp-controller="Home" class="logo animated rubberBand"><img src="~/img/logo.svg" alt="logo"></a>
                <input type="text" class="input-address input animated bounceInRight" placeholder="Адрес доставки">
                <div class="buttons animated bounceInRight">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Account/Logout">
                            <button class="btn btn-primary">
                                <img src="~/img/user.svg" alt="user" class="btn-icon">
                                <p class="btn-text">Выйти</p>
                            </button>
                        </a>
                    }
                    else
                    {
                        <a href="/Account/Login">
                            <button class="btn btn-primary">
                                <img src="~/img/user.svg" alt="user" class="btn-icon">
                                <p class="btn-text">Войти</p>
                            </button>
                        </a>
                    }

                    <button class="btn" id="basket">
                        <img src="~/img/basket.svg" alt="basket" class="btn-icon">
                        <p class="btn-text">Корзина</p>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="wrapper">
                <a asp-action="Index" asp-controller="Home"><img src="~/img/logo.svg" alt="logo" class="footer-logo animated rubberBand"></a>
                <nav class="footer-nav">
                    <ul class="animated rotateInDownRight">
                        <li><a href="#"></a>Салонам</li>
                        <li><a href="#"></a>Контакты</li>
                    </ul>
                </nav>
                <div class="social-networks">
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/instagram.png" alt="instagram"></a>
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/facebook.png" alt="facebook"></a>
                    <a href="#" class="social wow wobble" data-wow-delay="0.4s"><img src="~/img/vk.png" alt="vk"></a>
                </div>

            </div>
        </div>
    </footer>
    <section class="modal">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title">Корзина</h3>
                <button class="btn-close">&times;</button>
            </div>

            <div class="modal-body">
                <div class="food-row">
                    <span class="food-name">
                        Ролл угорь стандарт
                    </span>
                    <strong class="food-price">550 ₽</strong>

                    <div class="food-counter">
                        <button class="btn-counter">-</button>
                        <span class="counter">1</span>
                        <button class="btn-counter">+</button>
                    </div>
                </div>

                <div class="food-row">
                    <span class="food-name">
                        Ролл с лососем
                    </span>
                    <strong class="food-price">1250 ₽</strong>

                    <div class="food-counter">
                        <button class="btn-counter">-</button>
                        <span class="counter">1</span>
                        <button class="btn-counter">+</button>
                    </div>
                </div>

                <div class="food-row">
                    <span class="food-name">
                        Окинава стандарт
                    </span>
                    <strong class="food-price">400 ₽</strong>

                    <div class="food-counter">
                        <button class="btn-counter">-</button>
                        <span class="counter">1</span>
                        <button class="btn-counter">+</button>
                    </div>
                </div>

                <div class="food-row">
                    <span class="food-name">
                        Цезарь маки xl
                    </span>
                    <strong class="food-price">500 ₽</strong>

                    <div class="food-counter">
                        <button class="btn-counter">-</button>
                        <span class="counter">1</span>
                        <button class="btn-counter">+</button>
                    </div>
                </div>

                <div class="food-row">
                    <span class="food-name">
                        Ясай маки стандарт 185 г
                    </span>
                    <strong class="food-price">600 ₽</strong>

                    <div class="food-counter">
                        <button class="btn-counter">-</button>
                        <span class="counter">1</span>
                        <button class="btn-counter">+</button>
                    </div>
                </div>

                <div class="food-row">
                    <span class="food-name">
                        Ролл с креветкой стандарт
                    </span>
                    <strong class="food-price">800 ₽</strong>

                    <div class="food-counter">
                        <button class="btn-counter">-</button>
                        <span class="counter">1</span>
                        <button class="btn-counter">+</button>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <span class="modal-pricetag">1250 ₽</span>

                <div class="footer-btns">
                    <button class="btn btn-primary">Оформить заказ</button>
                    <button class="btn cancel">Отмена</button>
                </div>
            </div>

        </div>
    </section>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
