<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/ion.rangeSlider.min.css">
    <link href="~/css/bootstrap.min.css" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    @Html.Partial("_Favicons")
    <title>@ViewBag.Title</title>
</head>

<body>
    <header class="header animated wow bounceInLeft" data-wow-delay="0.1s" data-wow-duration="0.5s">
        <div class="container">
            <div class="header-block">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/img/logo.svg" class="logo" alt="logo">
                </a>

                <nav class="nav">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
                        <li><a asp-controller="Products" asp-action="ViewProducts">Каталог</a></li>
                        <li><a href="~/html/contacts.html">Контакты</a></li>
                        <li><a href="~/html/about_store.html">О магазине</a></li>
                    </ul>
                </nav>

                <div class="buttons">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Account/Logout">
                            <button class="btn btn-primary">
                                <img src="~/img/user.svg" alt="user" class="btn-icon">
                                <p class="btn-text">Выйти</p>
                            </button>
                        </a>
                    }
                    else
                    {
                        <a href="/Account/Login">
                            <button class="btn btn-primary">
                                <img src="~/img/user.svg" alt="user" class="btn-icon">
                                <span class="btn-text">Войти</span>
                            </button>
                        </a>
                    }
                    <button class="btn" id="btn-basket">
                        <img src="~/img/basket.svg" alt="basket" class="btn-icon">
                        <p class="btn-text">Корзина</p>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer wow bounceInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
        <div class="container">
            <div class="wrapper">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/img/logo.svg" alt="logo" class="logo footer-logo">
                </a>
                <nav class="nav">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
                        <li><a asp-controller="Products" asp-action="ViewProducts">Каталог</a></li>
                        <li><a href="~/html/contacts.html">Контакты</a></li>
                        <li><a href="~/html/about_store.html">О магазине</a></li>
                    </ul>
                </nav>
                <div class="social-networks">
                    <a href="https://www.instagram.com/" class="social"><img src="~/img/instagram.png" alt="instagram"></a>
                    <a href="https://ru-ru.facebook.com/" class="social"><img src="~/img/facebook.png" alt="facebook"></a>
                    <a href="https://vk.com/" class="social"><img src="~/img/vk.png" alt="vk"></a>
                </div>
            </div>
        </div>
    </footer>

    <section class="modal-cart">
        <div class="modal-dialog">
            <div class="modal-header modal-header-cart">
                <h3 class="modal-title">Корзина</h3>
                <button class="btn-close">&times;</button>
            </div>
            @*Render products*@
            <div class="modal-body" id="products">
            </div>

            <div class="modal-footer">
                <span class="modal-pricetag"></span>
                <div class="footer-btns">
                    <a asp-controller="Orders" asp-action="PlaceOrder">
                        <span class="btn btn-primary">Оформить заказ</span>
                    </a>
                    <button class="btn btn-cancel">Отмена</button>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/libraries/jquery.min.js"></script>
    <script src="~/js/libraries/ion.rangeSlider.min.js"></script>
    <script src="~/js/libraries/bootstrap.min.js"></script>
    <script src="~/js/libraries/wow.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/main.js" type="module"></script>
</body>
</html>
